[Desktop Entry]
Version=1.0
Type=Application
Name=G-DriveXP
GenericName=Google Drive Client
Comment=Cliente de Google Drive para Linux
Exec=g-drive-xp
Icon=org.gnome.FedoraDrive
Terminal=false
Categories=Network;FileTransfer;Utility;
Keywords=google;drive;cloud;sync;
StartupNotify=true
StartupWMClass=org.gnome.FedoraDrive
